<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="tv.osmosys.sdk.launching.launchConfigurationType.mhp">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="be.copii.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Copii"/>
<stringAttribute key="process_factory_id" value="tv.osmosys.sdk.launching.mhpProcessFactory"/>
<booleanAttribute key="tv.osmosys.sdk.launching.active_target" value="true"/>
<stringAttribute key="tv.osmosys.sdk.launching.app_aid" value="0x32ff"/>
<stringAttribute key="tv.osmosys.sdk.launching.app_lang_code" value="eng"/>
<stringAttribute key="tv.osmosys.sdk.launching.app_name" value="Main"/>
<stringAttribute key="tv.osmosys.sdk.launching.app_oid" value="0x74ae8500"/>
<intAttribute key="tv.osmosys.sdk.launching.flag_control" value="1"/>
<booleanAttribute key="tv.osmosys.sdk.launching.flag_is_service_bound" value="false"/>
<booleanAttribute key="tv.osmosys.sdk.launching.flag_kill_broadcast_xlets" value="false"/>
<intAttribute key="tv.osmosys.sdk.launching.flag_priority" value="1"/>
<intAttribute key="tv.osmosys.sdk.launching.flag_visibility" value="3"/>
<booleanAttribute key="tv.osmosys.sdk.launching.visibility.limited" value="false"/>
<stringAttribute key="tv.osmosys.sdk.launching.visible.onid" value=""/>
<stringAttribute key="tv.osmosys.sdk.launching.visible.svid" value=""/>
<stringAttribute key="tv.osmosys.sdk.launching.visible.tsid" value=""/>
<stringAttribute key="tv.osmosys.sdk.launching.xlet_base_dir" value="/Main_1198674535"/>
<stringAttribute key="tv.osmosys.sdk.launching.xlet_classpath" value=""/>
</launchConfiguration>
